{% extends 'master.html' %}

{% block title %}
  List All Members
{% endblock title %}

{% block content %}
  <p><a href="/">HOME</a></p>
  <h1>List of All Members</h1>

  <table>
      <tr>
          <th>No</th>
          <th>Name</th>
          <th>Birthday</th>
      </tr>
      {% for x in mymembers %}
      <tr>
          <td>{{forloop.counter}}</td>
          <td><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</td>
          <td>{{x.birthday}}</td>
    
      </tr>
      {% endfor %}
  </table>
{% endblock content %}
